html, body, #mapID {
    /* On iOS, height: 100vh; puts the bottom of the map below the fold & off the screen */
    height: 100%;
    width: 100vw;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

/* Move the leaflet-TimeDimension player control above the attribution */
.leaflet-bottom .leaflet-bar-timecontrol {
    margin-bottom: 20px;
}

/* This style needs to have the leaflet-TimeDimension player control modified to move the */
/* speed control <div> between the timecontrol-forward <a> and the timecontrol-date <a>   */
.timecontrol-speed {
    clear: none;
    float: left;
}

.leaflet-bottom .leaflet-control-scale {
    margin-bottom: 10px;
}
.leaflet-left .leaflet-control-scale {
    margin-left: 10px;
}

#sidebar {
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#sidebar td {
    vertical-align: top;
}

.lorem {
    font-style: italic;
    font-size: 8pt;
    color: #AAA;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    /*font-size: 14px;*/
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    background-image: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);
    background-repeat: repeat-x;
    border-color: #2b669a;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
}

/* markerCluster customization */

.marker-cluster-small {
    background-color: rgba(240, 59, 32, 0.2);
    }
.marker-cluster-small div {
    background-color: rgba(240, 59, 32, 0.5);
    }

.marker-cluster-medium {
    background-color: rgba(240, 59, 32, 0.2);
    }
.marker-cluster-medium div {
    background-color: rgba(240, 59, 32, 0.5);
    }

.marker-cluster-large {
    background-color: rgba(240, 59, 32, 0.2);
    }
.marker-cluster-large div {
    background-color: rgba(240, 59, 32, 0.5);
    }

.marker-cluster div {
    color: white;
    }

.help-img-hor {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    width: 20px;
}
.help-img-ver {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    height: 20px;
}

/* Opacity slider control */
.opacity_slider_control .ui-slider-range {
    background-image: none;
    background-color: #646464;
    height: 200px;
}
.leaflet-top .leaflet-control .opacity_slider_control {
    margin-right: 15px;
    margin-top: 15px;
}
.ui-slider-vertical {
    height: 70px;
}
.ui-slider-vertical .ui-slider-handle {
    left: -0.4em;
    margin-bottom: -0.3em;
}
.ui-slider .ui-slider-handle {
    width: 1.4em;
    height: 0.6em;
}

/* Grouped layers control */
.leaflet-control-layers-group-name {
    font-weight: bold;
    margin-bottom: .2em;
    margin-left: 3px;
}
.leaflet-control-layers-group {
    margin-bottom: .5em;
}
.leaflet-control-layers-scrollbar {
    overflow-y: scroll;
    padding-right: 10px;
}

/* leaflet-zoomhome plugin */
.leaflet-control-zoomhome a {
    font: bold 18px "Lucida Console",Monaco,monospace;
}
a.leaflet-control-zoomhome-in,
a.leaflet-control-zoomhome-out {
    font-size: 1.5em;
    line-height: 26px;
}

/* Legend */
.fcst-legend {
    padding-top: 8px;
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 8px;
    background: white;
}
.fcst-legend table {
    margin: 0;
    border-collapse: collapse;
}
.fcst-legend #values td {
    width: 30px;
    border-left: 1px solid silver;
}
.fcst-legend #values.first-cell td {
    width: 10px;
    border-left: none;
}
.fcst-legend #colours td {
    height: 15px;
}
.fcst-legend #ticks td {
    height: 4px;
    background: #ffffff;
}
.fcst-legend #labels td {
    text-align: center;
    font-size: 80%;
}
.fcst-legend .legend-title {
    text-align: center;
    font-weight: bold;
    font-size: 100%;
    clear: both;
}

/* Information sidebar drawer */
.info-drawer-control {
    width: 44px;
    height: 44px;
}
.drawer {
  display: none;
  font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.drawer a {
  color: #428bca;
  text-decoration: none;
}
.drawer a:hover {
  text-decoration: underline;
}
.drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  opacity: 0;
  transition: opacity 0.3s;
  will-change: opacity;
  background-color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.drawer__header {
  /* Optional */
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.drawer__title > a {
  padding-right: 1em;
  font-size: 14pt;
}
.drawer__close {
  /* Optional */
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='15px' height='16px' viewBox='0 0 15 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='2.-Menu' transform='translate(-15.000000, -13.000000)' stroke='%23000000'%3E%3Cg id='Group' transform='translate(15.000000, 13.521000)'%3E%3Cpath d='M0,0.479000129 L15,14.2971819' id='Path-3'%3E%3C/path%3E%3Cpath d='M0,14.7761821 L15,-1.24344979e-14' id='Path-3'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  margin-left: 1rem;
}
.drawer__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  max-width: 500px;
  z-index: 9999;
  overflow: auto;
  transition: transform 0.3s;
  will-change: transform;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  -webkit-transform: translate3d(103%, 0, 0);
  transform: translate3d(103%, 0, 0); /* extra 3% because of box-shadow */
  -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
  /* Optional */
  box-shadow: 0 2px 6px #777;
}
.drawer__content {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  flex-grow: 1;
  /* Optional */
  padding: 1.5rem;
}
.drawer__content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.drawer__content ul {
  line-height: 1.3em;
}
.drawer--left .drawer__wrapper {
  left: 0;
  right: auto;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.drawer.is-active {
  display: block;
}
.drawer.is-visible .drawer__wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.drawer.is-visible .drawer__overlay {
  opacity: 0.5;
}
.drawer-content-tab {
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}
