# FireSmoke.ca site-specific stylesheet

html, body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}

td.partnerlogo {
    vertical-align: middle;
    padding: 15px;
    margin: 15px;
    line-height: 1.5em;
}

#mapID {
    position: fixed;
    /* top: 51px; */
    left: 0px;
    height: 90%;
    min-height: 90%;
    width: 100%;
    min-width: 100%;
}
