/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100); */

#map_fwi {
    float: right;
    width: 50.0%;
    height: 100.0%;
    left: 0.0%;
    top: 0.0%;
}
#plot_fwi {
    float: left;
    width: 50.0%;
    height: 94.0%;
    left: 0.0%;
    top: 0.0%;
}
@media (max-width:480px) {
    #map_fwi,
    #plot_fwi {
        width: 100%;
        /* Below 480px the width will be 100% and the images will come in stakced view. */
    }
}


.search-input {
    font-family: Courier
  }
  
  .search-input,
  .leaflet-control-search {
    max-width: 400px;
  }



/* Legend */
.fcst-legend {
    padding-top: 8px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 8px;
    background: white;

}
.fcst-legend table {
    margin: 0;
    border-collapse: collapse;
}
.fcst-legend #values td {
    width: 10px;
    border-left: 1px solid silver;
}
.fcst-legend #values.first-cell td {
    width: 10px;
    border-left: none;
}
.fcst-legend #colours td {
    height: 10px;
}
.fcst-legend #ticks td {
    height: 4px;
    background: #ffffff;
}
.fcst-legend #labels td {
    text-align: center;
    font-size: 80%;
}
.fcst-legend .legend-title {
    text-align: center;
    font-weight: bold;
    font-size: 80%;
    clear: both;
}



.info {
    padding: 6px 8px; 
    background: white;
    box-shadow: 0 0 15px rgb(0,0,0);
    border-radius: 5px;
} 
.info h4 {
    margin: 0 0 5px;
    color: black;
}

.legend { 
    text-align: left;
    line-height: 18px;
    color: black;
} 
.legend i {
    width: 18px;
    height: 18px; 
    float: left; 
    margin-right: 8px;
    opacity: 0.7;
 }


 





 .table-title body {
    background-color: #3e94ec;
    font-family: Courier
    font-size: 12px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
  }

div.table-title {
  margin: auto;
  max-width: 200px;
  padding:3px;
  width: 100%;
}

.table-title h3 {
   color: #616161;
   font-size: 14px;
   font-weight: 400;
   font-style:Courier;
   /* font-family: "Roboto", helvetica, arial, sans-serif; */
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 100px;
  margin: auto;
  max-width: 200px;
  padding:2px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

.table-fill th {
    color:#D5DDE5;;
    background:#616161;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:12px;
    font-weight: 100;
    padding:2px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }

.table-fill th:first-child {
  border-top-left-radius:3px;
}
 
.table-fill th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
.table-fill tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:11px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
.table-fill tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
.table-fill tr:first-child {
  border-top:none;
}

.table-fill tr:last-child {
  border-bottom:none;
}
 
.table-fill tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
.table-fill tr:nth-child(odd):hover td {
  background:#4E5066;
}

.table-fill tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
.table-fill tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
.table-fill td {
  background:#FFFFFF;
  padding:2px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:11px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}



.table-fill td:last-child {
  border-right: 0px;
}

.table-fill th.text-left {
  text-align: left;
}

.table-fill th.text-center {
  text-align: center;
}

.table-fill th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

.table-fill td.text-center {
  text-align: center;
}

.table-fill td.text-right {
  text-align: right;
}
