body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#map_fwi {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
@media (max-width: 850px) {
    body {
        padding: 0;
        margin: 0;
    }
    #map_fwi,
    body,
    html {
        height: 100%;
        width: 100vw;
    }
}
.search-input {
    font-family: Courier;
}
.leaflet-control-search,
.search-input {
    max-width: 400px;
}
.fcst-legend {
    padding-top: 8px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 8px;
    background: #fff;
}
.fcst-legend table {
    margin: 0;
    border-collapse: collapse;
}
.fcst-legend #values td {
    width: 12px;
    border-left: 1px solid silver;
}
.fcst-legend #values.first-cell td {
    width: 10px;
    border-left: none;
}
.fcst-legend #colours td {
    height: 10px;
}
.fcst-legend #ticks td {
    height: 4px;
    background: #fff;
}
.fcst-legend #labels td {
    text-align: center;
    font-size: 80%;
}
.fcst-legend .legend-title {
    text-align: center;
    font-weight: 700;
    font-size: 80%;
    clear: both;
}
.info {
    padding: 6px 8px;
    background: #fff;
    box-shadow: 0 0 15px #000;
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #000;
}
.legend {
    text-align: left;
    line-height: 18px;
    color: #000;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.table-title body {
    background-color: #3e94ec;
    font-family: Courier;
    font-size: 12px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
div.table-title {
    margin: auto;
    max-width: 300px;
    padding: 3px;
    width: 100%;
}
.table-title a {
    float: right;
    margin-right: 10px;
}
.table-title h3 {
    color: #616161;
    font-size: 16px;
    font-weight: 400;
    font-style: Courier;
    text-transform: uppercase;
}
.table-fill {
    background: #fff;
    border-radius: 3px;
    border-collapse: collapse;
    height: 100px;
    margin: auto;
    max-width: 300px;
    padding: 2px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}
.table-fill th {
    color: #fff;
    background: #616161;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-style: Courier;
    font-size: 14px;
    font-weight: 280;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}
.table-fill th:first-child {
    border-top-left-radius: 3px;
}
.table-fill th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}
.table-fill tr {
    border-top: 1px solid #c1c3d1;
    border-bottom: 1px solid #c1c3d1;
    color: #343a45;
    font-style: Courier;
    font-size: 12px;
    font-weight: 240;
}
.table-fill tr:hover td {
    background: #4e5066;
    color: #fff;
    border-top: 1px solid #22262e;
}
.table-fill tr:first-child {
    border-top: none;
}
.table-fill tr:last-child {
    border-bottom: none;
}
.table-fill tr:nth-child(odd)td {
    background: #ebebeb;
}
.table-fill tr:nth-child(odd):hover td {
    background: #4e5066;
}
.table-fill tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}
.table-fill tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}
.table-fill td {
    background: #fff;
    padding: 2px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    font-style: Courier;
    border-right: 1px solid #c1c3d1;
}
.table-fill td:last-child {
    border-right: 0;
}
.table-fill th.text-left {
    text-align: left;
}
.table-fill th.text-center {
    text-align: center;
}
.table-fill th.text-right {
    text-align: right;
}
td.text-left {
    text-align: left;
}
.table-fill td.text-center {
    text-align: center;
}
.table-fill td.text-right {
    text-align: right;
}
.leaflet-control-velocity {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0 5px;
    margin: 0 !important;
    color: #333;
    font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.velocity-overlay {
    position: absolute;
    z-index: 1;
}
