#map {
  width: 1000px;
  height: 1000px;
}
.time_wx {
  position: absolute;
  right: 265px;
  z-index: 1000;
  float: right;
  top: 420px;
  padding: 8px 4px;
  background-color: #fff;
  color: #444;
  border: 1px solid #555;
  border-radius: 4px;
  font-family: Verdana, sans-serif;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.wx-plot {
  width: 600px;
  height: 450px;
  border: 2px ridge #969696;
  background-color: #fff;
  border-radius: 2px;
  text-align: center;
}
.wx-plot2 {
  width: 600px;
  height: 450px;
  border: 2px ridge #969696;
  background-color: #fff;
  border-radius: 2px;
  text-align: center;
}
.btn_fire {
  position: absolute;
  right: 112px;
  z-index: 1000;
  float: right;
  top: 60px;
  padding: 8px 4px;
  background-color: #fff;
  color: #444;
  border: 1px solid #555;
  border-radius: 4px;
  font-family: Verdana, sans-serif;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.btn_fire:hover {
  background-color: #555;
  color: #fff;
}
.btn_wx {
  position: absolute;
  right: 40px;
  z-index: 1000;
  float: right;
  top: 60px;
  padding: 8px 4px;
  background-color: #fff;
  color: #444;
  border: 1px solid #555;
  border-radius: 4px;
  font-family: Verdana, sans-serif;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.btn_wx:hover {
  background-color: #555;
  color: #fff;
}
.btn_fire2 {
  position: absolute;
  right: 112px;
  z-index: 1000;
  float: right;
  top: 60px;
  padding: 8px 4px;
  background-color: #fff;
  color: #444;
  border: 1px solid #555;
  border-radius: 4px;
  font-family: Verdana, sans-serif;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.btn_fire2:hover {
  background-color: #555;
  color: #fff;
}
.btn_wx2 {
  position: absolute;
  right: 40px;
  z-index: 1000;
  float: right;
  top: 60px;
  padding: 8px 4px;
  background-color: #fff;
  color: #444;
  border: 1px solid #555;
  border-radius: 4px;
  font-family: Verdana, sans-serif;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.btn_wx2:hover {
  background-color: #555;
  color: #fff;
}
@media (max-width: 850px) {
  .wx-plot {
      width: 320px;
      height: 400px;
      border: 2px ridge #969696;
      background-color: #fff;
      border-radius: 2px;
      text-align: center;
  }
  .wx-plot2 {
      width: 320px;
      height: 400px;
      border: 2px ridge #969696;
      background-color: #fff;
      border-radius: 2px;
      text-align: center;
  }
  .time_wx {
      position: absolute;
      right: 120px;
      z-index: 1000;
      float: right;
      top: 380px;
      padding: 8px 4px;
      background-color: #fff;
      color: #444;
      border: 1px solid #555;
      border-radius: 4px;
      font-family: Verdana, sans-serif;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      cursor: pointer;
  }
  .btn_fire {
      position: absolute;
      right: 66px;
      z-index: 1000;
      float: right;
      top: 48px;
      padding: 4px 2px;
      background-color: #fff;
      color: #444;
      border: 1px solid #555;
      border-radius: 4px;
      font-family: Verdana, sans-serif;
      display: inline-block;
      font-size: 10px;
      margin: 2px 2px;
      cursor: pointer;
  }
  .btn_fire:hover {
      background-color: #555;
      color: #fff;
  }
  .btn_wx {
      position: absolute;
      right: 20px;
      z-index: 1000;
      float: right;
      top: 48px;
      padding: 4px 2px;
      background-color: #fff;
      color: #444;
      border: 1px solid #555;
      border-radius: 4px;
      font-family: Verdana, sans-serif;
      display: inline-block;
      font-size: 10px;
      margin: 2px 1px;
      cursor: pointer;
  }
  .btn_wx:hover {
      background-color: #555;
      color: #fff;
  }
  .btn_fire2 {
      position: absolute;
      right: 66px;
      z-index: 1000;
      float: right;
      top: 48px;
      padding: 4px 2px;
      background-color: #fff;
      color: #444;
      border: 1px solid #555;
      border-radius: 4px;
      font-family: Verdana, sans-serif;
      display: inline-block;
      font-size: 10px;
      margin: 2px 2px;
      cursor: pointer;
  }
  .btn_fire2:hover {
      background-color: #555;
      color: #fff;
  }
  .btn_wx2 {
      position: absolute;
      right: 20px;
      z-index: 1000;
      float: right;
      top: 48px;
      padding: 4px 2px;
      background-color: #fff;
      color: #444;
      border: 1px solid #555;
      border-radius: 4px;
      font-family: Verdana, sans-serif;
      display: inline-block;
      font-size: 10px;
      margin: 2px 1px;
      cursor: pointer;
  }
  .btn_wx2:hover {
      background-color: #555;
      color: #fff;
  }
}
